<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Introduction</title>
    </head>
    <body>
        <h1>
            Github Workflow Conflict Resolution
        </h1>
        {% if user %}
        <pre>
            {{ user|tojson }}
            <a href="home">Github Conflict Tutorial</a>
        </pre>
        <a href="/logout">logout</a>
        {% endif %}

        <p>
            The goal of this scenario is to demonstrate how to resolve a conflict in the Github workflow. 
            
            You will make a contribution to a repo while a simulated person makes a different change. These changes will conflict, and you will have to resolve the conflict.
            
            This scenario assumes that you have a Github account. If you do not, go to github.com to sign up.
        </p>
        <button onclick="switchHTML()", style="font-size: 16px; color: white; background-color: black;">Start</button>
        <script>
            function switchHTML() {
              window.location.href = "step1";
            }
          </script>
    </body>
</html>