<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Learn-git</title>
    </head>
    <body>
        <h1>
            Welcome!
        </h1>
        <p>
            Welcome to the Learn-Git Webpage!
        </p>
        <p>

        {% if user %}
        <pre>
            {{ user|tojson }}
            <a href="home">Github Conflict Tutorial</a>
        </pre>
        <a href="/logout">logout</a>
        {% else %}
            <a href="/login">login</a>
        {% endif %}
        </p>
    </body>
</html>


