<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Introduction</title>
    </head>
    <body>
        <h1>
            Github Workflow Conflict Resolution
        </h1>
        <h2>
            Setup
        </h2>
        <p>
            In this scenario, you are automatically set up so that git commits as a user named "Katacoda Scenario" with an email address of "scenario@katacoda.com." This means that your commits will appear under the "Katacoda Scenario" on Github.
            If you would prefer to have commits save using your name and email address, you can edit the .gitconfig{{open}}.
        </p>
        <h2>
            Fork and Clone
        </h2>
        <p>
            In the terminal window you will find the (randomly generated) name of a repo for you to use along with the Github URL for the repo.
            Open the repo URL in a new tab, and then fork the repo to your personal Github account. Afterward, clone the repo in the terminal window.
        </p>
        <h2>
            Setup upstream
        </h2>
        <p>
            In the Github Workflow, developers push changes to their Github account (origin ) and pull changes from the shared Github account (upstream ) (repo in the moco-learn-git account).

            The remote named origin was created when you cloned the repo, but you have to add upstream . Go back to the repo in the moco-learn-git account and copy the clone URL. Use this URL to execute the following command in the terminal:

            git remote add upstream clone URL

            Before you continue, execute git remote -v .
            Verify that the URLs origin refer to your personal account and the URLs for upstream refer to the moco-learn-git account.
        </p>
        <button onclick="switchHTML()" style="font-size: 16px; color: white; background-color: black;">Next</button>
        <script>
            function switchHTML() {
                // API call to check if user forked correctly. Only proceed if API call returns true
              window.location.href = "step2";
            }
          </script>
    </body>
</html>